.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blue;

}

.link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

.nav {
  display: flex;
  padding: 40px;
  justify-content: center;
  width: 100%;
}

.nav p {
  margin-left: 40px;
  margin-right: 40px;
}

p, h1 {
  color: whitesmoke;
}

.Smurfs {
  color: whitesmoke;
  font-style: italic;
}

.SmurfForm {
  padding: 20px;
  width: 100px;
}

button {
  color: blue;
  font-weight: bold;
  padding: 5px 5px;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}